In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('locations.csv')


# df.head() Show the first 5 rows 

dg = pd.DataFrame(df)

rows, columns = dg.shape
print(f"The dataframe has {rows} row and {columns} columns")

The dataframe has 10 row and 2 columns

In [ ]:
ds = pd.read_csv('salaries.csv')

dh = pd.DataFrame(ds)

mean_values = dh.mean()

median_values = dh.median()

mode_values = dh.mode().iloc[0]

std_values = dh.std()

print("Mean:\n",mean_values)

print("Median:\n",median_values)

print("Mode:\n",mode_values)

print("Standard Deviation\n",std_values)

Mean:
 EmployeeID        5.5
Salary        61900.0
Bonus          5850.0
dtype: float64
Median:
 EmployeeID        5.5
Salary        57500.0
Bonus          5500.0
dtype: float64
Mode:
 EmployeeID        1
Salary        43000
Bonus          1500
Name: 0, dtype: int64
Standard Deviation EmployeeID        3.027650
Salary        16044.729145
Bonus          3448.429594
dtype: float64

In [26]:
dr = pd.read_csv('projects.csv')

dt = pd.DataFrame(dr)

# print(dt) Show all the entries

print(dt.dtypes)

ProjectID       int64
EmployeeID      int64
ProjectName    object
dtype: object

In [ ]:
du = pd.read_csv('employees.csv')

dv = pd.DataFrame(du)

missin_values = dv.isnull().sum()
# df.isnull(): Returns a DataFrame of the same shape as df, with True for missing values (NaN) and False otherwise.
# .sum(): Sums up the True values (treated as 1) for each column, giving the count of missing values per column.
print(missin_values)

ProjectID      0
EmployeeID     0
ProjectName    0
dtype: int64

In [33]:
dx = pd.read_csv('departments.csv')
dz = pd.DataFrame(dx)
dz = dz.rename(columns={'Manager':'designation'})

print(dz)

   DepartmentID   Department    designation
0             1  Engineering       John Doe
1             2    Marketing     Jane Smith
2             3           HR  Michael Brown

In [38]:
# Employee Table
# dv = pd.DataFrame(du)
# filtered_dd = dv[dv['Salary']>50000]

filtered_dd = dv[dv['Salary']>80000]

print(filtered_dd)

   EmployeeID     Name Department  Salary
6           7  Michael         HR   82000
9          10    Susan         HR   90000

In [44]:
# Department Table

#selected_columns=dz[['Department','Manager']] #First Way to filter  and Manager changes to desingation


#selected_columns=dz[['Department','designation']] First way to filter


selected_columns = dz.filter(items=['Department','designation'])

print(selected_columns)

    Department    designation
0  Engineering       John Doe
1    Marketing     Jane Smith
2           HR  Michael Brown

In [61]:
# Projects 

# dt = dt.drop('ProjectName',axis=1) # In this projectName drop so we can not use it further

dt = dt.drop(['ProjectID','EmployeeID'],axis=1)

print(dt)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Salaries dh

# dh['Bonus'] = dh['Bonus']*2

dh['Bonus'] = dh['Bonus'].apply(lambda x: x * 2)
# Both approaches achieve the same result, but the vectorized operation (Option 1) is 
# generally faster and more efficient in Pandas. Use .apply() when you need more 
# complex transformations.
print(dh)

   EmployeeID  Salary  Bonus
0           1   55000  20000
1           2   46000  12000
2           3   60000  28000
3           4   75000  32000
4           5   49000   8000
5           6   52000  16000
6           7   82000  40000
7           8   67000  24000
8           9   43000   6000
9          10   90000  48000

In [67]:
#Project  dt
dt = pd.DataFrame({'ProjectN':['Alpha','Beta'],'EmployeeID':['1','2']})
print(dt)

  ProjectN EmployeeID
0    Alpha          1
1     Beta          2

In [ ]:
#Employees dv
#On average which department take more salary
grouped_mean = dv.groupby('Department')['Salary'].mean()
print(grouped_mean)

Department
Engineering    58500.000000
HR             82333.333333
Marketing      46000.000000
Name: Salary, dtype: float64

In [73]:
#Location dg

# sorted_dg = dg.sort_values(by='Location')

sorted_dg = dg.sort_values(by='Location', ascending=False)

print(sorted_dg)

   EmployeeID       Location
8           9        Seattle
1           2  San Francisco
0           1       New York
6           7          Miami
4           5    Los Angeles
9          10         Denver
7           8         Dallas
3           4        Chicago
2           3         Boston
5           6         Austin

In [76]:
#Employees dv and Salaries dh

merge_dataF = pd.merge(dv, dh, on='Salary')

print(merge_dataF)

   EmployeeID_x       Name   Department  Salary  EmployeeID_y  Bonus
0             1       John  Engineering   55000             1  20000
1             2       Anna    Marketing   46000             2  12000
2             3      Peter  Engineering   60000             3  28000
3             4      Linda           HR   75000             4  32000
4             5      James    Marketing   49000             5   8000
5             6   Patricia  Engineering   52000             6  16000
6             7    Michael           HR   82000             7  40000
7             8  Elizabeth  Engineering   67000             8  24000
8             9      David    Marketing   43000             9   6000
9            10      Susan           HR   90000            10  48000

In [ ]:
#Departments dz and Locations dg

join = dz.join(dg)

print(join)

   DepartmentID   Department    designation  EmployeeID       Location
0             1  Engineering       John Doe           1       New York
1             2    Marketing     Jane Smith           2  San Francisco
2             3           HR  Michael Brown           3         Boston

In [78]:
# Salaries dh 

dh['Salary'] = dh['Salary'].apply(lambda x: x * 2)

print(dh)

   EmployeeID  Salary  Bonus
0           1  110000  20000
1           2   92000  12000
2           3  120000  28000
3           4  150000  32000
4           5   98000   8000
5           6  104000  16000
6           7  164000  40000
7           8  134000  24000
8           9   86000   6000
9          10  180000  48000

In [ ]:
#EMployee dv
#Create a new DataFrame by filtering rows based on multiple conditions.

filtered_dv = dv[(dv['Department']=='HR')& (dv['Salary']>50000)]

print(filtered_dv)

   EmployeeID     Name Department  Salary
3           4    Linda         HR   75000
6           7  Michael         HR   82000
9          10    Susan         HR   90000

In [ ]:
#Location Dg

#Convert a column from string to a numeric type. 

# dg['Location'] = pd.to_numeric(dg['Location'],errors='coerce')
dg['Location'] = dg['Location'].astype(str)
print(dg)

   EmployeeID  Location
0           1       NaN
1           2       NaN
2           3       NaN
3           4       NaN
4           5       NaN
5           6       NaN
6           7       NaN
7           8       NaN
8           9       NaN
9          10       NaN