In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('locations.csv')


# df.head() Show the first 5 rows 

dg = pd.DataFrame(df)

rows, columns = dg.shape
print(f"The dataframe has {rows} row and {columns} columns")

The dataframe has 10 row and 2 columns

In [143]:
ds = pd.read_csv('salaries.csv')

dh = pd.DataFrame(ds)

mean_values = dh.mean()

median_values = dh.median()

mode_values = dh.mode().iloc[0]

std_values = dh.std()

print("Mean:\n",mean_values)

print("Median:\n",median_values)

print("Mode:\n",mode_values)

print("Standard Deviation\n",std_values)

Mean:
 EmployeeID        5.5
Salary        61900.0
Bonus          5850.0
dtype: float64
Median:
 EmployeeID        5.5
Salary        57500.0
Bonus          5500.0
dtype: float64
Mode:
 EmployeeID        1
Salary        43000
Bonus          1500
Name: 0, dtype: int64
Standard Deviation
 EmployeeID        3.027650
Salary        16044.729145
Bonus          3448.429594
dtype: float64

In [144]:
dr = pd.read_csv('projects.csv')

dt = pd.DataFrame(dr)

# print(dt) Show all the entries

print(dt.dtypes)

ProjectID       int64
EmployeeID      int64
ProjectName    object
dtype: object

In [145]:
du = pd.read_csv('employees.csv')

dv = pd.DataFrame(du)

missin_values = dv.isnull().sum()
# df.isnull(): Returns a DataFrame of the same shape as df, with True for missing values (NaN) and False otherwise.
# .sum(): Sums up the True values (treated as 1) for each column, giving the count of missing values per column.
print(missin_values)

EmployeeID    0
Name          0
Department    0
Salary        0
dtype: int64

In [146]:
dx = pd.read_csv('departments.csv')
dz = pd.DataFrame(dx)
dz = dz.rename(columns={'Manager':'designation'})

print(dz)

   DepartmentID   Department    designation
0             1  Engineering       John Doe
1             2    Marketing     Jane Smith
2             3           HR  Michael Brown

In [147]:
# Employee Table
# dv = pd.DataFrame(du)
# filtered_dd = dv[dv['Salary']>50000]

filtered_dd = dv[dv['Salary']>80000]

print(filtered_dd)

   EmployeeID     Name Department  Salary
6           7  Michael         HR   82000
9          10    Susan         HR   90000

In [148]:
# Department Table

#selected_columns=dz[['Department','Manager']] #First Way to filter  and Manager changes to desingation


#selected_columns=dz[['Department','designation']] First way to filter


selected_columns = dz.filter(items=['Department','designation'])

print(selected_columns)

    Department    designation
0  Engineering       John Doe
1    Marketing     Jane Smith
2           HR  Michael Brown

In [149]:
# Projects 

# dt = dt.drop('ProjectName',axis=1) # In this projectName drop so we can not use it further

dt = dt.drop(['ProjectID','EmployeeID'],axis=1)

print(dt)

       ProjectName
0    Project Alpha
1     Project Beta
2    Project Gamma
3    Project Delta
4  Project Epsilon
5     Project Zeta
6      Project Eta
7    Project Theta
8     Project Iota
9    Project Kappa

In [150]:
#Salaries dh

# dh['Bonus'] = dh['Bonus']*2

dh['Bonus'] = dh['Bonus'].apply(lambda x: x * 2)
# Both approaches achieve the same result, but the vectorized operation (Option 1) is 
# generally faster and more efficient in Pandas. Use .apply() when you need more 
# complex transformations.
print(dh)

   EmployeeID  Salary  Bonus
0           1   55000  10000
1           2   46000   6000
2           3   60000  14000
3           4   75000  16000
4           5   49000   4000
5           6   52000   8000
6           7   82000  20000
7           8   67000  12000
8           9   43000   3000
9          10   90000  24000

In [151]:
#Project  dt
dt = pd.DataFrame({'ProjectN':['Alpha','Beta'],'EmployeeID':['1','2']})
print(dt)

  ProjectN EmployeeID
0    Alpha          1
1     Beta          2

In [152]:
#Employees dv
#On average which department take more salary
grouped_mean = dv.groupby('Department')['Salary'].mean()
print(grouped_mean)

Department
Engineering    58500.000000
HR             82333.333333
Marketing      46000.000000
Name: Salary, dtype: float64

In [153]:
#Location dg

# sorted_dg = dg.sort_values(by='Location')

sorted_dg = dg.sort_values(by='Location', ascending=False)

print(sorted_dg)

   EmployeeID       Location
8           9        Seattle
1           2  San Francisco
0           1       New York
6           7          Miami
4           5    Los Angeles
9          10         Denver
7           8         Dallas
3           4        Chicago
2           3         Boston
5           6         Austin

In [154]:
#Employees dv and Salaries dh

merge_dataF = pd.merge(dv, dh, on='Salary')

print(merge_dataF)

   EmployeeID_x       Name   Department  Salary  EmployeeID_y  Bonus
0             1       John  Engineering   55000             1  10000
1             2       Anna    Marketing   46000             2   6000
2             3      Peter  Engineering   60000             3  14000
3             4      Linda           HR   75000             4  16000
4             5      James    Marketing   49000             5   4000
5             6   Patricia  Engineering   52000             6   8000
6             7    Michael           HR   82000             7  20000
7             8  Elizabeth  Engineering   67000             8  12000
8             9      David    Marketing   43000             9   3000
9            10      Susan           HR   90000            10  24000

In [155]:
#Departments dz and Locations dg

join = dz.join(dg)

print(join)

   DepartmentID   Department    designation  EmployeeID       Location
0             1  Engineering       John Doe           1       New York
1             2    Marketing     Jane Smith           2  San Francisco
2             3           HR  Michael Brown           3         Boston

In [156]:
# Salaries dh 

dh['Salary'] = dh['Salary'].apply(lambda x: x * 2)

print(dh)

   EmployeeID  Salary  Bonus
0           1  110000  10000
1           2   92000   6000
2           3  120000  14000
3           4  150000  16000
4           5   98000   4000
5           6  104000   8000
6           7  164000  20000
7           8  134000  12000
8           9   86000   3000
9          10  180000  24000

In [157]:
#EMployee dv
#Create a new DataFrame by filtering rows based on multiple conditions.

filtered_dv = dv[(dv['Department']=='HR')& (dv['Salary']>50000)]

print(filtered_dv)

   EmployeeID     Name Department  Salary
3           4    Linda         HR   75000
6           7  Michael         HR   82000
9          10    Susan         HR   90000

In [158]:
#Location Dg

#Convert a column from string to a numeric type. 

# dg['Location'] = pd.to_numeric(dg['Location'],errors='coerce')
dg['Location'] = dg['Location'].astype(str)
print(dg)

dg.to_csv('modified_dataframe.csv',index=False)

   EmployeeID       Location
0           1       New York
1           2  San Francisco
2           3         Boston
3           4        Chicago
4           5    Los Angeles
5           6         Austin
6           7          Miami
7           8         Dallas
8           9        Seattle
9          10         Denver

In [159]:
from sqlalchemy import create_engine

username = 'admin'
password = '0000'
host = 'localhost'
port = '3306'  # Default PostgreSQL port
database = 'new_sch'

# Below First option to connect 
# def get_connection():
#     return create_engine(
#         url = "mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
#             username, password, host, port, database
#         )
#     )
# Second option to connect 
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")


if __name__ == '__main__':

    try:
        engine = get_connection()

        print(
            f"Connection to the {host} for user {username} created successfully."
        )

    except Exception as ex:
        print("Connection could not be made due to following error: \n",ex)

Connection to the localhost for user admin created successfully.

In [160]:
#Employee table dv

# import cryptography
# print(cryptography.__version__)
engine = create_engine("mysql+pymysql://root:0000@localhost:3306/new_sch")

print("Connection established successfully")
# dv.to_sql('employee_table', con=engine, if_exists='replace', index=False)

# print("Table inserted successfully")

Connection established successfully

In [161]:
dv.to_sql('employee_table', con=engine, if_exists='replace', index=False)

10

In [162]:
# print(dg)

dg.to_sql("locations",con=engine, if_exists='replace', index=False)

10

In [163]:
pp = pd.read_sql_table('sales', engine) 

print(pp)

   sale_id  product_id  quantity_sold  sale_date  total_price
0        1         101              5 2024-01-01       2500.0
1        2         102              3 2024-01-02        900.0
2        3         103              2 2024-01-02         60.0
3        4         104              4 2024-01-03         80.0
4        5         105              6 2024-01-03         90.0

In [164]:
# qw= "SELECT sale_id FROM 'sales' "

sa = pd.read_sql_table("sales",engine)


print(sa)

   sale_id  product_id  quantity_sold  sale_date  total_price
0        1         101              5 2024-01-01       2500.0
1        2         102              3 2024-01-02        900.0
2        3         103              2 2024-01-02         60.0
3        4         104              4 2024-01-03         80.0
4        5         105              6 2024-01-03         90.0