In [30]:
import pandas as pd

In [ ]:
df = pd.read_csv('locations.csv')

df.head()

print("print")

   EmployeeID       Location
0           1       New York
1           2  San Francisco
2           3         Boston
3           4        Chicago
4           5    Los Angeles